*{

padding: 0;
margin: 0;
box-sizing: border-box;
}

header{
text-align: justify;
text-align: center;
font-size: 50px;
background-color: cyan;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
outline: auto;


}


body{


  
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;


}



.bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9) {
    .bg {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .bg {
        width: 100%;
        height: auto;
    }
}
